<p>Picture of the day</p>
<ul>
  <div>
    <h1>Titre {{ ImgOfTheDay?.title }}</h1>
    <div>
      <button (click)="toggleHD()">
        Afficher l'image en haute/basse résolution
      </button>
    </div>
    <div>
      <ng-container *ngIf="IsHd; then SD; else HD"></ng-container>
      <ng-template #HD>
        <button (click)="fullscreen()">
          <img [src]="ImgOfTheDay?.hdurl" />
        </button>
      </ng-template>
      <ng-template #SD>
        <button (click)="fullscreen()">
          <img [src]="ImgOfTheDay?.url" />
        </button>
      </ng-template>
    </div>
    <div>{{ ImgOfTheDay?.explanation }}</div>
  </div>
  <div id="overlay" *ngIf="showOverlay">
    <div id="image-container" (click)="fullscreen()">
      <img [src]="ImgOfTheDay?.hdurl" />
    </div>
  </div>
</ul>
